<header>
  <nav class="navbar">
    <div class="container">
      <div class="accueil">
        <a routerLink="/" class="logo">{{ title }}</a>
      </div>
      <div class="nav-links">
        <a routerLink="/">Accueil</a>
        <a *ngIf="!authService.isLoggedIn()" routerLink="/login">Connexion</a>
        <a *ngIf="!authService.isLoggedIn()" routerLink="/register">Inscription</a>
        <a *ngIf="authService.isLoggedIn()" routerLink="/dashboard">Dashboard</a>
        <a *ngIf="authService.isLoggedIn()" routerLink="/stores">Mes quincailleries</a>
        <a *ngIf="authService.isLoggedIn()" (click)="logout()" class="btn btn-accent" routerLink="/login"> Déconnexion </a>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>